# -----------------------------
# LLM
# -----------------------------
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface

# -----------------------------
# LangGraph
# -----------------------------
langgraph

# -----------------------------
# Vector Database
# -----------------------------
qdrant-client
langchain-qdrant

# -----------------------------
# Embeddings
# -----------------------------
sentence-transformers

# -----------------------------
# PDF Loading
# -----------------------------
pypdf

# -----------------------------
# Environment Variables
# -----------------------------
python-dotenv

# -----------------------------
# Web Search
# -----------------------------
duckduckgo-search
ddgs

# -----------------------------
# UI
# -----------------------------
streamlit

# -----------------------------
# Validation
# -----------------------------
pydantic

# -----------------------------
# Tokenizer
# -----------------------------
tiktoken
ragas==0.2.10
datasets==2.20.0
